*, *:before, *:after {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #2d3242;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
}

#app {
  position: absolute;
  width: 100%;
  height: 100%;
  --x: 0;
  --y: 0;
  transform: translate(var(--x), var(--y));
  will-change: transform;
}

h1 {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 5%;
  top: 5%;
  color: white;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
}

#body, #skeleton, #organs {
  position: absolute;
  /*
  transform: translate(-50%, -50%);
  */
}

#skeleton {
  background-color: #2d3242;
}

@keyframes beat {
  0%, 100% {
    transform: translate(15px, -80px) scale(0.06);
  }
  50% {
    transform: translate(15px, -80px) scale(0.08);
  }
}

#heart {
  transform-origin: center;
  transform: translate(15px, -80px) scale(0.06);
  fill: red;
  animation: beat 1s infinite ease-in-out;
}

.eye {
  transform-origin: center center;
  transform-box: fill-box;
}

.eyebrow{
  transform-origin: center center;
  transform-box: fill-box;
}

.scan {
  z-index: 2;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  display: flex;
  justify-content: center;
}

#organs {
  visibility: hidden;
}

#selector {
  width: 150px;
  height: 60px;
  background-color: rgba(141, 150, 176, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 8px;
  border-radius: 8px;
  backdrop-filter: blur(10px);
}

#skeletonSelector, #organsSelector {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  border-radius: 8px;
  padding-left: 4px;
  padding-right: 4px;
}

#organsSelector svg, #skeletonSelector svg {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#skeletonSelector:hover, #organsSelector:hover {
  background-color: #2d3242;
}

#skeletonSelector:hover::after, #organsSelector:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(141, 150, 176, 0.5);
  color: #2d3242;
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap; /* Prevent the tooltip text from wrapping */
  backdrop-filter: blur(10px);
}